/***********************************************
*** GENERAL STYLING
************************************************/

html {
    font-size: 62.5%;
    box-sizing: border-box;
    width: 100%;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Stack Sans Text", Arial, Helvetica, sans-serif;
    color: #0b3a11;
    background-color: #fec20f;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: #0b3a11;
    transition: all 300ms ease;
}

a:hover {
    color: #fec20f;
    transition: all 300ms ease;
}

h3 {
    font-size: 1.5em;
    margin: 0 0 2rem 0;
}

.company-logo {
    font-family: Pacifico, cursive, sans-serif;
}

.hide-for-mobile {
    display: none;
}



/***********************************************
*** HEADER
************************************************/

header {
    height: 5vh;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: #fec20f;
    width: 100%;
    z-index: 1;
}

nav { 
    width: 100%;
}

header ul {
    display: flex;
    justify-content: space-evenly;
}

header a.active {
    color: white;
    font-weight: 900;
}



/***********************************************
*** MAIN SECTION
************************************************/

#main, main {
    background-color: white;
    background-image: url(images/nature-background.svg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.8rem;
}

.logo-img {
    width: 33rem;
    height: auto;

    & img {
        width: 100%;
        height: auto;
    }
}

.main-content {
    text-align: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.0rem;

    & * {
        margin: 0;
        padding: 0;
    }
}

a.main {
    font-weight: 900;
    font-size: 1.2em;
    margin-top: 10vh;
    border: solid 3px #0b3a11;
    border-radius: 20px;
    padding: 2rem;
    transition: 
        padding 300ms ease,
        color 300ms ease,
        border 300ms ease;
}

a.main:hover {
    padding: 3rem;
    border: solid 3px #fec20f;
}



/***********************************************
*** SECTION 2: WHAT WE TREAT (PESTS)
************************************************/

#pests {
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.pest-example {
    display: flex;
    width: 100%;
    height: 25vw;
}

div.pest-image {
    background-color: white;
    flex: 1;
    position: relative;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

div.pest-text-content {
    background-color: white;
    flex: 3;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 1em;

    & * {
        margin: 0;
    }
}

#pests h2 {
    font-size: 1.7em;
}

#pests a {
    font-size: 1.2em;
    font-weight: 900;
    text-decoration: underline;
    margin-top: 2em;
}



/***********************************************
*** SECTION 3: WHO WE ARE
************************************************/

#company {
    background-color: white;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(images/blurry-leaf.png);
    background-attachment: fixed;
    background-size: 100%;
    padding: 12rem 10rem;
    font-size: 1.1em;
}

.company-container {
    display: flex;
    gap: 1em;
}

.company-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;

    & p {
        margin: 0;
    }
}

.company-img {
    flex: 2;

    & img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 30px;
    }
}



/***********************************************
*** SECTION 4: GET IN TOUCH
************************************************/

#contact {
    background-color: white;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)), url(images/leafy-blur.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10rem 10rem 3rem 10rem;
    font-size: 1.2em;
}

.contact-container {
    display: flex;
    gap: 2%;
    width: 100%;
}

.contact-form {
    flex: 3;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.form-info {
    display: flex;
    flex-direction: column;
    padding: 0 2rem 2rem 0;
    gap: 1rem;
}

label {
    font-weight: 700;
}

.textbox {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #0b3a11;
    border-radius: 7px;
    padding: 1rem;
    font-family: "Stack Sans Text", Arial, Helvetica, sans-serif;
    transition: all 300ms ease;
}

.textbox:focus {
    border: 1px solid #fec20f;
    outline: none
}

.name, .phone {
    width: 50%;
}

.email, .message {
    width: 100%;
}

textarea {
    height: 15em;
}

.button {
    font-size: 1.2em;
    background-color: #fec20f;
    border: 2px solid #fec20f;
    border-radius: 30px;
    padding: 2rem 3rem;
    transition: all 300ms ease;
    color: white;
}

.button:hover {
    background-color: white;
    border: 2px solid #fec20f;
    color: #fec20f;
    cursor:pointer;
}

.contact-socials {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contact-socials ul {
    text-align: left;
    display: flex;
    font-size: 1.2em;
    gap: .5em;
}

.social-logo {
    width: 100%;
    align-self: center;

    & img {
        width: 100%;
        height: auto;
    }
}



/***********************************************
*** FOOTER
************************************************/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 8vh;
    font-size: 1rem;
}

.footer a:hover {
    color: white;
}

.footer-link {
    border-bottom: dotted 1px #0b3a11;
}



/***********************************************
*** SUBPAGES
************************************************/

/* Header */
    .subpage-header {
        padding: 0 4rem;
        height: 7vh;
    }

    .subpage-header a {
        color: rgba(255, 255, 255, 0.8);
    }

    div.header {
        width: 50%;
    }

    .header-logo {
        display: flex;
        align-items: center;
        font-size: 1.6em;
        gap: 1rem;
    }

    .logo-link {
        width: 5rem;
        padding-top: 1%;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    a.company-logo {
        color: white;
    }

/* Main Body */
    main {
        flex-direction: column;
        align-items: flex-start;
        padding: 10vh 7vw;
        height: auto;
        background-size: 150%;
    }

    hr {
        border: 2px solid #fec20f;
        width: 100%;
        margin-bottom: 6vh;
    }

    main p {
        margin: 0;
        font-size: 1.3em;
    }

    .main-container {
        padding-top: 4vh;
        display: flex;
        gap: 1.5rem;
    }

    .subpage-content {
        gap: 2em;
        display: flex;
        flex-direction: column;
        flex: 2;
        padding-top: .5em;
    }

    .subpage-content .button {
        width: 50%;
        text-align: center;
    }

    .subpage-image {
        display: flex;
        flex-direction: column;
        gap: 2em;
        flex: 1;

        & img {
            width: 100%;
            height: auto;
            border-radius: 20px;
        }
    }

    /* Wasps */

    .wasp p {
        margin: .7em 0;
    }

    .wasp a {
        margin: 1em auto 1.5em auto;
    }

    .wasp-subpage-image {
        display: flex;
        width: 100%;
        height: auto;
        gap: 1em;
    }

    .wasp-image {
        width: 33%; 
        height: auto;

        & img {
            width: 100%;
            border-radius: 20px;
        }
    }

    /* Other Insects */

    div.insect-images {
        display: flex;
        gap: 1em;
        margin-top: 2em;
    }

    .insect-images .bug-image {
        width: 50%;

        & img {
            width: 100%;
            height: auto;
            border-radius: 20px;
        }
    }

/* Submission */
    
    .successful-submit {
        min-height: 92vh;
        padding: 10vh 7vw 7vh 7vw;
    }

    .submission {
        background-color: white;
        border: 5px solid #fec20f;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        padding: 5vh;
        text-align: center;
        box-shadow: 0 0 10px 10px rgba(46, 15, 0, 0.151);
    }

    .icon {
        font-size: 10rem;
        color: #fec20f;
    }

    .submission a.button {
        margin-top: 3vh;
    }

/***********************************************
*** MEDIA QUERIES
************************************************/

/* Font-Size */
    @media (min-width: 1400px) {
        #pests {
            font-size: 1.3em;
        }

        #company {
            font-size: 1.4em;
        }
    }

/* Mobile */
    @media (max-width: 930px) {
        
        .hide-for-mobile {
            display: block;
        }

        .hide-for-desktop {
            display: none;
        }
        
        /* Header */

        header {
            justify-content: center;
            width: 100%;
            position: static;
        }
        
        nav {
            display: none;
        }

        /* Main */

        #main {
            width: 100%;
            height: 95vh;
        }

        .logo-img {
            width: 25rem;
        }

        a.main {
            margin-top: 6vh;
        }

        /* Section 2: What We Treat (Pests) */

        #pests {
            padding-bottom: 2vh;
        }

        .pest-example {
            flex-direction: column;
            height: auto;
            width: 100%;
        }

        div.pest-image {
            max-height: 35vh;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        div.pest-text-content {
            padding: 5vh 10vw;
            text-align: center;
        }


        /* Section 3: Who We Are*/

        #company {
            width: 100%;
            padding: 0;
            background-size: cover;
        }

        .company-container {
            flex-direction: column;
            height: auto;
            gap: 0;
        }

        .company-text {
            padding: 5vh;
        }

        .company-img {
            height: auto;
        }

        .company-img img {
            border-radius: 0;
            height: 100%;
            object-fit: cover;
        }

        /* Section 4: Get in Touch */

        #contact {
            width: 100%;
            background-size: cover;
            background-position: bottom right;
            padding: 10vh 5vh 2vh 5vh;
        }

        .contact-container {
            flex-direction: column;
        }

        .name, .phone {
            width: 100%;
        }

        /* Footer */

        ul.footer {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: .5em;
        }

        /* Subpages */

        div.header {
            width: 100%;
        }

        main {
            padding: 10vh 7vw 5vh 7vw;
            text-align: center;
        }

        main h1 {
            text-align: center;
        }

        .main-container {
            flex-direction: column;
        }

        .subpage-content {
            padding-bottom: 3vh;
        }

        .subpage-content a.button {
            margin: auto;
            width: 80%;
            font-size: 1em;
        }

        .wasp-subpage-image {
            flex-direction: column;
        }

        .wasp-image {
            width: 100%;
        }

        .insect-images {
            flex-direction: column;

            & .bug-image {
                width: 100%;
            }
        }

        /* Submission Form */
        .submission {
            font-size: .7em;
        }

        .submission .icon {
            font-size: 8rem;
        }
    }