/* GENERAL */

html {
    width: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    color: #0b3a11;
    font-family: "Stack Sans Text", sans-serif;
    font-size: 1.2em;
    background-color: #fec20f;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: #0b3a11;
    transition: color 300ms ease;
}

.space {
    padding: 25px 50px;
}

.button {
    background-color: #fec20f;
    padding: 20px 40px;
    border: none;
    border-radius: 30px;
    margin: 20px;
    color: #0b3a11;
    font-family: "Stack Sans Text", sans-serif;
    display: block;
    width: 20%;
    text-align: center;
    font-size: .8em;
}

h3 {
    font-size: 25px;
}

img { /*temporary*/ 
    width: 50%;
}

/* HEADER */

#desktop-header {
    display: block;
}

#mobile-header {
    display: none;
}

header {
    background-color: #fec20f;
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#desktop-header {
    width: 100%;
}

ul.header {
    display: flex;
    justify-content: space-around;
}

a.white {
    color: white;
    transition: color 300ms ease;
}

/* SECTION 1: MAIN */
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/nature-background.svg);
    background-color: white;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    height: 95vh;
    font-size: 1.3em;
    padding-top: 70px;
}

div.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main img {
    max-height: 180px;
}

h1 {
    font-family: Pacifico, cursive, sans-serif;
    margin: 0 0 15px 0;
}

#main p {
    margin: 5px 0;
    max-width: 700px;
}

#main a {
    margin-top: 40px;
}

#main a:hover {
    color: #fec20f;
}


/* SECTION 2: WHAT WE TREAT */
.pest-example {
    display: flex;
    height: 400px;
    background-color: white;
}

.pest-image {
    flex: 1;
    height: 100%;
}

.pest-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pest-content {
    flex: 2;
}

.pest-content p {
    margin-bottom: 40px;
}

.pest-link {
    text-decoration: underline;
    font-weight: 900;
}

.pest-link:hover {
    color: #fec20f;
}

/* SECTION 3: WHO WE ARE */
#company {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(images/blurry-leaf.png);
    background-attachment: fixed;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 150%;
    padding: 50px 100px;
    display: flex;
    gap: 40px;
}

div.text {
    width: 40%;
}

div.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

#company img {
    object-fit: cover;
    width: 100%;
    border: 6px solid white;
    border-radius: 15px;
}

/* SECTION 4: CONTACT */
#contact {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)), url(images/leafy-blur.png);
    background-color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.contact-container {
    display: flex;
    justify-content: space-around;
}

form {
    margin: 25px 0;
    display: flex;
    flex-wrap: wrap;
}

.form-info {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 0;
}

label {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 20px;
}

.textbox {
    border: 1px solid #0b3a11;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.65);
    padding: 10px;
    transition: border 300ms ease;
}

.textbox:focus {
    border: 1px solid #fec20f;
    outline: none;
}

textarea {
    height: 300px;
    font-size: 15px;
}

.name, .email {
    width: 50%;
}

.message {
    width: 100%;
}

form .button {
    margin: 0;
}

.contact-info {
    width: 30%;
}

.contact-info > ul {
    text-align: left;
}

.contact-info a:hover {
    color: #fec20f;
}

.contact-info > img {
    align-self: center;
    width: 100%;
}

#contact .button {
    width: 100%;
}

/* FOOTER */
footer {
    background-color: #fec20f;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

footer a {
    transition: color 300ms ease;
}

footer a:hover {
    color: white;
}

footer ul {
    display: flex;
    justify-content: space-between;
}

/* SUBPAGE GENERAL STYLING */

    /* Header */
    #subpage-header {
        height: auto;
        align-items: center;
        padding: 10px;
        position: static;
        font-size: .9em;
    }

    div.header {
        display: flex;
        align-items: center;
        width: 50%;
    }

    #subpage-header img + a {
        color: white;
    }

    #subpage-header nav {
        width: 100%;
    }

    #subpage-header ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    
    #subpage-header a {
        color: rgba(255, 255, 255, 0.658);
    }

    #subpage-header a:hover {
        color: white;
    }

    #subpage-header .active {
        color: white;
    }

    #subpage-header img {
        width: 60px;
        height: auto;
        margin-right: 10px;
    }

    /* Main */
    .subpage-main {
        padding: 50px;
        background-color: white;
    }

    .subpage-main h2 {
        margin: 0;
        font-size: 1.8em;
        font-weight: normal;
    }

    .subpage-main hr {
        margin: 25px 0;
        color: #fec20f;
        border: solid 2px #fec20f;
        border-radius: 2px;
    }

    .subpage-example {
        display: flex;
    }

    .subpage-example-text {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .subpage-image-example {
        display: flex;
        gap: 25px;
        flex: 3;
    }

    .subpage-image-example > * {
        border: 6px solid #fec20f;
        border-radius: 15px;
        height: auto;
        object-fit: cover;
    }

    .subpage-button {
        width: 30%;
        margin: auto;
    }


/* MOBILE LAYOUT */
@media (max-width: 490px) {
    /* HEADER */
    #header {
        position: static;
    }
    
    #desktop-header {
        display: none;
    }

    #mobile-header {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    

    /* MAIN */
    #main {
        background-size: 150%;
        font-size: 1.1em;
    }

    #main .button {
        width: 70%;
        font-size: .6em;
    }
    
    /* SECTION 2: WHAT WE TREAT */
    .pest-example {
        flex-direction: column;
    }

    div.pest-example {
        width: 100%;
        flex-wrap: wrap;
        height: 100%;
    }
    
    div.pest-image {
        width: 100%;
        max-height: 280px;
        flex-grow: 1;
    }

    div.pest-content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        gap: 15px;
        padding: 30px 25px;
    }

    div.pest-content > * {
        margin: 0;
    }

    div.pest-content p {
        font-size: .9em;
    }
    
    #pests img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #pests {
        text-align: center;
    }

    /* SECTION THREE: WHO WE ARE */
    #company {
        background-attachment: scroll;
        flex-direction: column;
        padding: 0;
        gap: 0;
    }

    div.text {
        padding: 25px;
        width: 100%;
    }

    #company p {
        margin-bottom: 0;
    }

    div.image {
        width: 100%;
    }

    #company img {
        width: 100%;
        border: none;
        border-radius: 0;
    }

    /* SECTION 4: CONTACT */
    #contact {
        background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)), url(images/leafy-blur.png);
        background-size: 300% 100%;
        background-repeat: no-repeat;
        background-position: bottom right;
    }

    .contact-container {
        flex-direction: column;
    }

    .name, .email {
        width: 100%;
    }
    
    .form-info, form {
        flex-direction: column;
    }

    form {
        gap: 30px;
    }

    .textbox {
        width: 100%;
    }

    #message {
        height: 30vh;
    }

    #contact .button {
        width: 100%;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #contact img {
        align-self: center;
        margin-top: 25px;
        height: auto;
        width: 75%;
    }

    /* FOOTER */
    footer ul {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* SUBPAGES */
        #subpage-header a {
            display: none;
        }

        #subpage-header .header {
            width: 100%;
        }

        #subpage-header .header + .header {
            width: 0;
        }

        #subpage-header a.show {
            display: block;
            margin: auto;
        }

        #subpage-header img {
            margin: 0;
        }

        .subpage-example {
            flex-direction: column;
        }

        .subpage-image-example {
            flex-direction: column;
        }

        .subpage-image-example img {
            width: 100%;
            height: auto;
        }

        a.subpage-button {
            width: 95%;
        }
}

/* TABLET LAYOUT */

@media (max-width: 840px) {
   
}