/***********************************************
*** GENERAL STYLING
************************************************/

html {
    font-size: 62.5%;
    box-sizing: border-box;
    width: 100%;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Stack Sans Text", Arial, Helvetica, sans-serif;
    color: #0b3a11;
    background-color: #fec20f;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: #0b3a11;

    
}

a:hover {
    color: #fec20f;
    transition: color 300ms ease;
}

.company-logo {
    font-family: Pacifico, cursive, sans-serif;
}

.hide-for-mobile {
    display: none;
}

/***********************************************
*** HEADER
************************************************/

header {
    height: 5vh;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: #fec20f;
    width: 100%;
}

nav { 
    width: 100%;
}

header ul {
    display: flex;
    justify-content: space-evenly;
}

.active {
    color: white;
}

/***********************************************
*** MAIN SECTION
************************************************/

#main, main {
    background-color: white;
    background-image: url(images/nature-background.svg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.8rem;
}

.logo-img {
    width: 33rem;
    height: auto;

    & img {
        width: 100%;
        height: auto;
    }
}

.main-content {
    text-align: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.0rem;

    & * {
        margin: 0;
        padding: 0;
    }
}

a.main {
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 10vh;
    border: solid 3px #0b3a11;
    border-radius: 20px;
    padding: 2rem;
    transition: 
        padding 300ms ease,
        color 300ms ease,
        border 300ms ease;
}

a.main:hover {
    padding: 3rem;
    border: solid 3px #fec20f;
}