/***********************************************
*** GENERAL STYLING
************************************************/

html {
    font-size: 62.5%;
    box-sizing: border-box;
    width: 100%;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Stack Sans Text", Arial, Helvetica, sans-serif;
    color: #0b3a11;
    background-color: #fec20f;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: #0b3a11;
}


/***********************************************
*** HEADER
************************************************/

header {
    height: 5vh;
    display: flex;
    align-items: center;
}

nav { 
    width: 100%;
}

header ul {
    display: flex;
    justify-content: space-evenly;
}

.active {
    color: white;
}

/***********************************************
*** MAIN SECTION
************************************************/

#main, main {
    background-color: white;
    background-image: url(images/nature-background.svg);
    background-size: cover;
}

.main-content {
    text-align: center;
}