
/* GENERAL */

html {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: #0b3a11;
    font-family: "Stack Sans Text", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: #0b3a11;
}

.space {
    padding: 25px 50px;
}

.button {
    background-color: #fec20f;
    padding: 20px 40px;
    border: none;
    border-radius: 30px;
    margin: 20px;
    color: #0b3a11;
    font-family: "Stack Sans Text", sans-serif;
    display: block;
}

img { /*temporary*/ 
    width: 50%;
}

/* HEADER */

header {
    background-color: #fec20f;
    width: 100%;
    height: 50px;
}

ul.header {
    display: flex;
    justify-content: space-between;
}

/* SECTION 1: MAIN */
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/nature-background.svg);
    background-size: 150%;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

h1 {
    font-family: Pacifico, cursive, sans-serif;
    margin: 0 0 15px 0;
}

p {
    margin: 5px 0;
}

/* SECTION 3: WHO WE ARE */
#company.space, .image.space {
    padding:0;
}

#company {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(images/blurry-leaf.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

#company img {
    object-fit: cover;
}

/* MOBILE LAYOUT */
@media (max-width: 430px) {
    /* SECTION 2: WHAT WE TREAT */
    div.pest-image {
        width: 100%;
        height: 280px;
    }
    
    #pests img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #pests {
        text-align: center;
    }

    /* SECTION THREE: WHO WE ARE */
    #company {
        background-attachment: scroll;
    }

    div.img {
        width: 100%;
    }

    #company img {
        width: 100%;
    }
}